*{
    box-sizing: content-box;
}

h1 {
    position: relative;
    top: 10px;

    color:azure;
    text-align: center;
    border-style: double;
    border-width: 6px;
    border-color: azure;
    font-family: Comfortaa;
    font-weight: 700;
    padding: 10px;
    background-color: #4C516D;
}

form {
    background-color: firebrick;
    top: 100px;
    height: 150px;
    width: 100%;
    border-style:double;
    border-color: antiquewhite;
    border-width: 2px;
}

label {
    position: absolute;
    margin-top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight:bolder;
    font-family: Marcellus;
}

input {
    position: absolute;
    margin-top: 10px;
    left: 170px;
    width: 300px;
    font-family: Marcellus;
}

button {
    position: absolute;
    left: 100px;
    border-width: 2px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4C516D;
    color:azure;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

div {
    position: relative;
    height: 400px;
    width: 50%;
    margin: 0;
    display: inline-block;

}

img {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 200px;
    left: 4%;
    top: 5%;
}
    
.b1 {
    color:antiquewhite;
    position: absolute;
    top: 5%;
    font-family: Daytona;
    height: 10%; 
    width: 80%;
    left: 10%;
    text-align: center;
    text-wrap: wrap;
    display: inline-block;
    font-size: 30px;
    text-shadow: .5px .5px darkslategrey;
    font-weight:500;
    
}

.b2 {
    color: antiquewhite;
    position: absolute;
    bottom: 30%;
    font-family: Daytona;
    height: 25%; 
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 30px;
    text-shadow: .5px .5px darkslategrey;
    font-weight:500;
}

















